NEXTAUTH_URL=https://localhost:3000
NEXTAUTH_SECRET=testing-1234567-secret
IDENTITY_SERVER_ISSUER=https://localhost:5001
IDENTITY_SERVER_CLIENT_ID=interactive
IDENTITY_SERVER_CLIENT_SECRET=49C1A7E1-0C79-4A89-A3D6-A37998FB86B0
